<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" verbose="true">
  <testsuites>
    <testsuite name="Unit">
      <directory>test</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="testdox-text" target="build/logs/testdox.txt" />
  </logging>

  <php>
    <ini name="error_reporting" value="-1" />
    <ini name="display_errors" value="1" />
  </php>
</phpunit>
